@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* * General */

:root {
  --color-primary: #009688;
  --color-secondary: #DCDBD2;
  --color-default: #EAEAEA;
  --color-blue: #8EDAFC;
  --color-green: #D5F9BA;
  --color-white: #FAFAFA;
  --color-text: #B1B1B1;
}

body {
  font-family: 'Lato', sans-serif;
}

/* * utilities */
.debug {
  border: 1px solid firebrick;
  background-color: bisque;
}

/* ? Main wrapper */
.main-wrapper {
  min-height: 100vh;
  background: linear-gradient(to bottom,
      var(--color-primary) 0%,
      var(--color-primary) 15%,
      var(--color-secondary) 15%,
      var(--color-secondary) 100%);
}

/* ? app */
#app {
  height: 95vh;
  min-width: 1000px;
  width: 80%;
}

/* ? Contacts */
#contacts {
  width: 35%;
  background-color: var(--color-white);
}

/* ? Account */
#account {
  padding: .6rem;
  background-color: var(--color-default);
}

/* todo left */
.img-profile img {
  height: 50px;
  border-radius: 50%;
}

/* todo right */
.right-acc {
  margin-right: 10px;
  font-size: 1.3rem;
  color: var(--color-text);
}

.right-acc i {
  cursor: pointer;
  padding: .4rem;
  transition: .3s;
}

.right-acc i:hover {
  color: #575656;
}

/* ? Notification */
.notification {
  background-color: var(--color-blue);
  padding: 1.2rem;
}

.icon-not {
  background-color: #F2FBFF;
  font-size: 1.5rem;
  color: var(--color-blue);
  padding: .8rem 1rem;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s;
}

.icon-not:hover {
  background-color: #575656;
}

.text-not>span {
  color: #575656;
  cursor: pointer;
}

/* ? ChatViewer */
#chatViewer {
  width: 65%;
}

/* ? SearchChat */
.searchChat {
  background-color: var(--color-white);
  padding: .5rem;
}

/* * searchBar */
.input-group-prepend,
.input-group-text {
  transition: .3s;
  cursor: pointer;
  background-color: var(--color-white);
  /* !  */
  height: 40px;
}

.input-group-text:hover {
  background-color: #575656;
  color: var(--color-white);
}

/* ? recentChats */
.recentChats {
  background-color: var(--color-white);
  overflow-y: auto;
}

.recentChats .chatsWrapper {
  list-style: none;
  padding: 0;
}

.recentChats .chat {
  padding: .5rem;
  position: relative;
  color: #949292;
  transition: .3s;
  cursor: pointer;
  padding: .5rem 1rem;
}

.chat:hover {
  background-color: #E9EBEB;
}

.chat .img-profile {
  margin-right: .8rem;
}

.chat-text h3 {
  font-size: 1.1rem;
  color: #212529;
}

.chat-text p {
  font-size: .85rem;
}

.lastMexTime {
  font-size: .7rem;
  position: absolute;
  right: 1rem;
}