@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* * General */

:root {
  --color-primary: #009688;
  --color-secondary: #DCDBD2;
  --color-default: #EAEAEA;
  --color-blue: #8EDAFC;
  --color-green: #D5F9BA;
  --color-white: #FAFAFA;
  --color-text: #B1B1B1;
}

body {
  font-family: 'Lato', sans-serif;
}

/* * utilities */
.debug {
  border: 1px solid firebrick;
  background-color: bisque;
}

/* ? Backgroud */
#myBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.topBack {
  height: 15%;
  background-color: var(--color-primary);
}

.bottomBack {
  height: 85%;
  background-color: var(--color-secondary);
}

.main-wrapper {
  min-height: 100vh;
}

/* ? app */
#app {
  min-height: 95vh;
  min-width: 1000px;
  width: 80%;
}

/* ? Contacts */
#contacts {
  width: 40%;
}

/* ? Account */
#account {
  padding: .6rem;
  background-color: var(--color-default);
}

/* todo left */

.img-profile img {
  height: 50px;
  border-radius: 50%;
}

/* todo right */
.right-acc {
  margin-right: 10px;
  font-size: 1.3rem;
  color: var(--color-text);
}

.right-acc i {
  cursor: pointer;
  padding: .4rem;
  transition: .3s;
}

.right-acc i:hover {
  color: #575656;
}

/* ? Notification */
.notification {
  background-color: var(--color-blue);
  padding: 1.2rem;
}

.icon-not {
  background-color: #F2FBFF;
  font-size: 1.5rem;
  color: var(--color-blue);
  padding: .8rem 1rem;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s;
}

.icon-not:hover{
  background-color:#575656;
}

.text-not > span{
  color: #575656;
  cursor: pointer;
}

/* ? ChatViewer */
#chatViewer {
  width: 60%;
}

/* ? SearchChat */
.searchChat {
  background-color: var(--color-white);
  padding: .5rem;
}

/* * searchBar */

.input-group-prepend,
.input-group-text{
  /* ! rivedere */
  height: 40px;
  transition: .3s;
  cursor: pointer;
}

.input-group-text:hover{
  background-color: #575656;
  color: var(--color-white);
}


/* ? recentChats */
.recentChats {
  height: 500px;
  background-color: var(--color-white);
}