@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* * General */

:root{
  --color-primary: #009688;
  --color-secondary: #DCDBD2;
  --color-default: #EAEAEA;
  --color-blue: #8EDAFC;
  --color-green: #D5F9BA;
  --color-white: #FAFAFA;
}

body{
  font-family: 'Lato', sans-serif;
}

/* * utilities */
.debug{
  border: 1px solid firebrick;
  background-color: bisque;
}

/* ? Backgroud */
#myBackground{
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
}

.topBack{
  height: 15%;
  background-color: var(--color-primary);
}

.bottomBack{
  height: 85%;
  background-color: var(--color-secondary);
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ? app */
#app{
  min-height: 95vh;
  min-width: 1000px;
  width: 80%;
  display: flex;
}

/* ? Contacts */
#contacts{
  width: 40%;
}

/* ? Account */
#account{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--color-default);
}

/* todo left */
.left{
  display: flex;
  align-items: center;
  gap: 5px;
}

.img-profile img{
  height: 50px;
  border-radius: 50%;
}

/* todo right */
.right{
  display: flex;
  gap: 10px;
  margin-right: 10px;
  font-size: 1.3rem;
  color: #B1B1B1;
}

.right i{
  cursor: pointer;
  padding: 5px;
  transition: .3s;
}

.right i:hover{
  color: #575656;
}

/* ? Notification */
.notification{
  background-color: var(--color-blue);
  height: 100px;
}

/* ? ChatViewer */
#chatViewer{
  width: 60%;
}

/* ? SearchChat */
.searchChat{
  background-color: var(--color-white);
  height: 50px;
}

/* ? recentChats */
.recentChats{
  height: 500px;
  background-color: var(--color-white);
}